html {
    box-shadow: inset 6px 0 #ffdf00;
    font-size: 12px;
}

body {
    text-shadow: 0 1px 0 #fff;
    background: #fcfcfc;
    margin: 0;
    font-family: 'Hoefler Text', 'Times New Roman', Times, serif;
    color: #333;
    font-size: 24px;
    line-height: 36px;
}

@media screen and (max-device-width: 1300px) {
    body {
        font-size: 16px;
        line-height: 20px;
    }
}

.container {
    box-sizing: border-box;
    padding: 0 76.8px;
}


@media screen and (max-device-width: 1024px) {
    .container {
        padding: 0 35px;
    }
}

@media screen and (max-device-width: 480px) {
    .container {
        padding: 0 18px;
    }
}

.content {
    max-width: 960px;
    margin: 0 auto;
}


.heading-wrap {
    padding: 5px 0 12px 0;
    margin: 28.8px 0;
    font-size: 36px;
    line-height: 43.2px;
    color: #333;
}

@media screen and (max-device-width: 1300px) {
    .heading-wrap {
        padding: 0;
        margin: 12px 0;
        font-size: 24px;
        line-height: 28px;
    }
}

.heading {
    display: inline;

    font-family: 'Helvetica Neue', sans-serif;
    font-size: inherit;
    font-weight: normal;
}

.entry .h1 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: #333;
    font-weight: normal;
    padding: 20px 0 0 0;
    margin: 14.4px 0;
}

.entry .h2 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: #333;
    /*line-height: 0.8667;*/
    line-height: 1;
    font-weight: normal;
    padding: 5px 0 10px 0;
    margin: 25px 0;
}

.entry .h3 {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    color: #666;
    /*line-height: 0.8334;*/
    line-height: 1;
    text-indent: 0;
    padding: 10px 0 0 0;
    margin: 18px 0;
}

.entry .h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: #000;
    margin: 26px 0;
}

.entry .h5,
.entry .h6 {
    font-size: 12px;
    color: #000;
    margin: 20px 0;
}

.entry .h6 {
    font-weight: bold;
}

.container a {
    text-decoration: none;
}

.container a:link,
.container a:visited,
.container a:hover {
    color: #333;
    text-decoration: none;
}

.container a:hover {
    color: #999;
}

.heading--secondary {
    font-weight: bold;
}


p {
    line-height: 1.5;
    margin: 36px auto;
    text-indent: 0;
}


@media screen and (max-device-width: 1300px) {
    p {
        margin: 15px auto;
    }
}



.styled-link:link,
.styled-link:visited,
.styled-link:hover,
.entry a:link,
.entry a:visited,
.entry a:hover {
    color: #303030;
    text-decoration: none;
    border-bottom: 1px solid #C0C0C0;
}

.styled-link:hover,
.entry a:hover {
    color: #999;
}

.entry strong {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: #555;
}

.timeline__year::before,
.timeline__month::before,
.timeline__day::before {
    text-align: center;
    width: 111px;
    content: attr(data-text);
    display: block;
}

.timeline__heading {
    padding: 5px 0 10px 0;

    font-size: 24px;

    line-height: 24px;
    color: #333;
    text-transform: lowercase;

    display: block;

    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 133px;
    margin: 173px 0 19px;
}

@media screen and (max-device-width: 1300px) {
    .timeline__heading {
        font-size: 14px;
        line-height: 18px;
        margin: 15px 0 9px;
    }
}

.timeline__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline__year::before {
    margin-top: 51px;
    color: #666;
    font-family: Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-device-width: 1300px) {
    .timeline__year::before {
        margin-top: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}

.timeline__month::before,
.timeline__day::before {
    font-weight: bold;
}

.timeline__day::before {
    float: left;
    margin-left: -131px;
}

.timeline__item {
    padding: 1.2px 0;
}

.timeline__post {
    padding-left: 132px;
}

@media screen and (max-device-width: 1300px) and (orientation: portrait) {
    .timeline__month {
        font-weight: normal;
    }
    .timeline__post {
        padding-left: 50px;
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 14px;
    }

    .timeline__day::before {
        display: none;
    }
}

.subscribe__wrap {
    padding-top: 20px;
    margin: 24px 0;
}

.subscribe__link {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-transform: lowercase;
}

img {
    border:none;
}

.entry img {
    max-width: 100%;
    display: block;
    margin: 1em auto;
}

blockquote {
    border-left: 1px solid #A5ABAB;
    margin: 0;
    padding: 0 12px 0 12px;
}


ol, ul {
    padding: 12px 0 24px 18px;
}

@media screen and (min-width: 480px) {
    ol, ul {
        padding-left: 76px;
    }

}


li {
    line-height: 1.5;
    padding: 6px 0 0 0;
}

.post__date {
    font-style: italic;
}

.article-social {
    color: #999;

    font-family: sans-serif;
}

.article-social .styled-link {
    color: inherit;
}


.around-nav {
    margin: 20px 0;
}

.around-nav__next {
    text-align: right;
    margin-bottom: 8px;
}

.around-nav__prev {
    text-align: left;
}

.related-nav {
    margin: 3em 0;
}

.related-nav__title {
    font-weight: bold;
    font-size: 19.2px;
    line-height: 28px;
    margin-bottom: 0;
}

.related-nav__list {
    margin-top: 0;
}


.follow {
    font-style: italic;
    font-weight: 100;
    text-align: center;
    margin: 20px;
}

.follow__btn-wrap {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 5px;
}

.menu {
    padding: 0;
    margin: 0;

    margin-top: 28.8px;
}

.menu__item {
    display: block;
    padding-top: 7.2px;
}

.menu__link,
.menu__link:hover {
    -webkit-transition: all 0.1s ease-out;
       -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
         -o-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
}

.menu__link {
    display: block;
    color: #333;
    padding: 5px 14px 5px 23px;

    font-size: 28.8px;
    line-height: 34.5px;

    font-family: 'Helvetica Neue', sans-serif;

    text-decoration: none;


}

.menu__link:hover {
    color: #999;
}


/**
 * RESPONSIVE MENU
 */


.wrap,
.container {
    box-sizing: border-box;
}

.wrap {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.nav,
.container {
    -webkit-transition: .1s all ease-out;
       -moz-transition: .1s all ease-out;
            transition: .1s all ease-out;

    width: 100%;
}

.menu-toggler:before,
.menu-toggler:hover:before,
.menu-toggler,
.menu-toggler:hover {
    -webkit-transition: .1s all ease-out;
       -moz-transition: .1s all ease-out;
            transition: .1s all ease-out;
}

.menu-toggler__wrap {
    clear: both;
    overflow: hidden;
    display: block;
}

.nav {
    float: left;
}


.container {
    margin-left: 0;
    float: left;
}


.nav {
    margin-left: -100%;
}
/*body*/.active .nav {
    margin-left: 0;
    width: 360px;
}

/**/.active .container {
    margin-right: -100%;
}

.post {
    margin-bottom: 96px;
}

/**
 * MENU TOGGLER
 */

.menu-toggler__out-wrap {
    overflow: hidden;
    width: 96px;
    height: 96px;
    line-height: 36px;
}

.menu-toggler__wrap {
    clear: both;
    overflow: hidden;
    display: block;
    position: relative;
    height: 168px;
    width: 168px;
}

.menu-toggler {
    width: 71%;
    height: 71%;
    background: #ffdf00;
    display: block;

    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 65%;
    margin-bottom: 65%;

    text-align: center;
}

.menu-toggler:hover {
    box-shadow: 1rem 0.2rem 0.5rem rgba(0, 0, 0, .15);
}

.menu-toggler::before {
    text-transform: lowercase;
    content: attr(title);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-shadow: none;

    font-size: 18px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #999;
}

.menu-toggler:hover:before {
    color: #000;
}

.interactions {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    text-shadow: 0 0 1px #FFDF00;
}
