---
layout: default
title: Владимир Старков; технический блог
---

<div class="container">
	<div class="content">
		
		<div class="post" itemscope itemtype="http://schema.org/Article" itemref="_articleUrl">
			{% for post in site.posts limit:1 %}
				<div class="heading-wrap">
					<h1 class="heading  heading--primary"><a href="/">{{site.site_name}}</a></h1>:
					<h2 class="heading heading--secondary" itemprop="name">
						<a href="{{ post.url }}">{{ post.title }}</a>
					</h2>
				</div>
				<div class="entry" itemprop="articleBody">
					{% assign h1 = post.content | first %}
					{{ post.content | replace:h1,'' | replace:'</h6','</div' | replace:'<h6','<div class="h6" ' | replace:'</h5','</h6' | replace:'<h5','<h6 class="h5" ' | replace:'</h4','</h5' | replace:'<h4','<h5 class="h4" ' | replace:'</h3','</h4' | replace:'<h3','<h4 class="h3" ' | replace:'</h2','</h3' | replace:'<h2','<h3 class="h2" ' | replace:'</h1','</h2' | replace:'<h1','<h2 class="h1"' }}
				</div>
			{% endfor %}
		</div>
		<div class="timeline">
			<div class="timeline__heading">
				Все записи
			</div>
			{% include timeline.html %}
		</div>
		
		<div class="subscribe__wrap">
			<a class="subscribe__link" href="{{site.site_rss}}">
				Подписаться
			</a>
		</div>
	</div>
</div>



