---
layout: default
title: Владимир Старков — технический блог
---

<!-- 

ETALONE ABOUT PAGE:
	http://viget.com/about/team/davery
 -->
<div class="hide">post commit hook test</div>

{% for year in site.years %}
	<h2>{{ year.first.first.date | date: "%Y" }}</h2>
	{% for month in year %}
		<h3>
			{{ month.first.date | date: "%B" | replace:"January","Январь" | replace:"February","Февраль" | replace:"March","Март" | replace:"April","Апрель" | replace:"May","Май" | replace:"June","Июнь" | replace:"July","Июль" | replace:"August","Август" | replace:"September","Сентябрь" | replace:"October","Октябрь" | replace:"November","Ноябрь" | replace:"December","Декабрь"}}
		</h3>
		{% for post in month %}
			<div>
				<div class="daynumber--index">
					{{post.date  | date: "%d"}}
				</div>

				<a href="{{ post.url}}">{{ post.title }}</a>
			</div>
		{% endfor %}
	{% endfor %}
{% endfor %}