<nav class="article-social">
	{{site.i18n_cta_share}}
	<a class="styled-link" href="http://twitter.com/intent/tweet?url={{site.site_url}}{{page.url}}&amp;text={{page.title}}&amp;via={{site.site_twitter}}">
		{{site.i18n_cta_share_tw}}
	</a>,
	<a class="styled-link" href="http://www.facebook.com/sharer.php?u={{site.site_url}}{{page.url}}&amp;t={{page.title}}">
		{{site.i18n_cta_share_fb}}
	</a>
	{{site.i18n_cta_share_and}}
	<a class="styled-link" href="https://plus.google.com/share?url={{site.site_url}}{{page.url}}">
		{{site.i18n_cta_share_gp}}
	</a>
</nav>