<!--
<nav>

	<ul class="unstyled">
		<li><a href="/">Владимир Старков</a></li>
		<li><a href="/about/">Обо мне</a></li>
		<li><a href="">РСС</a></li>
		<li><a href="">In english</a></li>
	</ul>
</nav>


<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
	
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<a class="brand" href="#">
				<a class="brand" href="/">
					<img src="/img/logo.svg" class="logo pull-left" alt="" />
					{{site.site_name}}
				</a>
			</a>

			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/about/">{{site.i18n_about}}</a></li>
					<li><a href="{{site.site_rss}}">{{site.i18n_rss}}</a></li>
				</ul>
				
				{% if page.isNotTranslated %}
				
				{% else %}
					<ul class="nav pull-right">
						<li>
							<a 
							href="{{site.mirror_url}}{{page.url | replace:"index.html",""}}	">
								{{site.mirror_title}}
							</a>
						</li>
					</ul>
				{% endif %}
			</div>

		</div>
	</div>
</div>
-->
