<meta charset="utf-8" />
<title>{{ page.title }}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width">


<link href="/css/style.css" rel="stylesheet" media="screen, print" />

<link
	href="{{site.i18n_rss_url[site.locale]}}"
	title="{{ site.i18n_site_name[site.locale] }}"
	rel="alternate" type="application/atom+xml" />


		
<meta name="twitter:card" content="summary"/>
<meta name="twitter:creator" content="@matmuchrapna" />

<meta
	content="{{ site.i18_site_url[site.locale] }}{{page.url}}"
	property="og:url"
	itemprop="url" id="_articleUrl" />

<meta property="og:title" content="{{ page.title }}"/>
				

<meta property="og:site_name"
	content="{{ site.i18n_site_name[site.locale] }}" />
<meta property="og:type" content="article" />
<meta property="article:author"
	content="{{ site.i18n_site_url[site.locale] }}/about/" />