{% assign january = site.i18n_january[site.locale] %}
{% assign february = site.i18n_february[site.locale] %}
{% assign march = site.i18n_march[site.locale] %}
{% assign april = site.i18n_april[site.locale] %}
{% assign may = site.i18n_may[site.locale] %}
{% assign june = site.i18n_june[site.locale] %}
{% assign july = site.i18n_july[site.locale] %}
{% assign august = site.i18n_august[site.locale] %}
{% assign september = site.i18n_september[site.locale] %}
{% assign october = site.i18n_october[site.locale] %}
{% assign november = site.i18n_november[site.locale] %}
{% assign december = site.i18n_december[site.locale] %}

{% assign januaryGEN = site.i18n_januaryGEN[site.locale] %}
{% assign februaryGEN = site.i18n_februaryGEN[site.locale] %}
{% assign marchGEN = site.i18n_marchGEN[site.locale] %}
{% assign aprilGEN = site.i18n_aprilGEN[site.locale] %}
{% assign mayGEN = site.i18n_mayGEN[site.locale] %}
{% assign juneGEN = site.i18n_juneGEN[site.locale] %}
{% assign julyGEN = site.i18n_julyGEN[site.locale] %}
{% assign augustGEN = site.i18n_augustGEN[site.locale] %}
{% assign septemberGEN = site.i18n_septemberGEN[site.locale] %}
{% assign octoberGEN = site.i18n_octoberGEN[site.locale] %}
{% assign novemberGEN = site.i18n_novemberGEN[site.locale] %}
{% assign decemberGEN = site.i18n_decemberGEN[site.locale] %}
