{% assign january = site.i18n_january[site.locale] %}
{% assign february = site.i18n_february[site.locale] %}
{% assign march = site.i18n_march[site.locale] %}
{% assign april = site.i18n_april[site.locale] %}
{% assign may = site.i18n_may[site.locale] %}
{% assign june = site.i18n_june[site.locale] %}
{% assign july = site.i18n_july[site.locale] %}
{% assign august = site.i18n_august[site.locale] %}
{% assign september = site.i18n_september[site.locale] %}
{% assign october = site.i18n_october[site.locale] %}
{% assign november = site.i18n_november[site.locale] %}
{% assign december = site.i18n_december[site.locale] %}