{% assign year="exampleYear" %}
{% assign month="exampleMonth" %}
{% assign day="exampleDay" %}

<div class="timeline">
	<div class="timeline__heading">
		{{ i18n_all_articles[site.locale] }}
	</div>
	<ul class="timeline__list">
		{% for post in site.posts %}
			<li class="timeline__item">
				
			{% assign postYear=post.date | date: "%Y" %}
			{% assign postMonth=post.date | date: "%B" %}
			{% assign postDay=post.date | date: "%d" %}

			{% if year != postYear %}
				{% assign year=postYear %}
				<div class="timeline__year" data-text="{{year}}"></div>
			{% endif %}
			{% if month != postMonth %}
				{% assign month=postMonth %}
				<div class="timeline__month" data-text="{{ month | replace:"January",site.i18n_january[site.locale] | replace:"February",site.i18n_february[site.locale] | replace:"March",site.i18n_march[site.locale] | replace:"April",site.i18n_april[site.locale] | replace:"May",site.i18n_may[site.locale] | replace:"June",site.i18n_june[site.locale] | replace:"July",site.i18n_july[site.locale] | replace:"August",site.i18n_august[site.locale] | replace:"September",site.i18n_september[site.locale] | replace:"October",site.i18n_october[site.locale] | replace:"November",site.i18n_november[site.locale] | replace:"December",site.i18n_december[site.locale] }}"></div>
						
			{% endif %}
				<div class="timeline__post">
					<div class="timeline__day" data-text="{{postDay}}"></div>
					{% if post.external_link == null %}
						<a href="{{ post.url }}">{{ post.title }}</a>
					{% else %}
						<a href="{{ post.external_link }}">{{ post.title }}</a>
					{% endif %}
				</div>
			</li>
		{% endfor %}
	</ul>
</div>