html {
	box-shadow: inset 0.5rem 0 #ffdf00;
	background: #fafafa;
}

body {
	padding-bottom: 20%;
}






/*
--------------------------------------------------
$ GRID
--------------------------------------------------
*/


.wrap {
	width: 900px;
	margin: 0 auto;
}

.col {
	width: 48%;
	float: left;
}

.col--1 {
	margin-right: 2%;
}

.col--2 {
	margin-left: 2%;
}

/**
 * from 900px to …
 */
@media only screen and (max-width: 900px) {
	
	.wrap {
		width: auto;
		margin: 0 10%;
	}
	.col {
		width: 100%;
		float: none;
	}

}







/*
--------------------------------------------------
$ ARTICLE
--------------------------------------------------
*/

a { color: #1465ba; }
a:visited { color: #af14ba; }


h1,
h1 a,
h1 a:visited,
h2,
h2 a,
h2 a:visited,
h3,
h3 a,
h3 a:visited,
h4,
h4 a,
h4 a:visited,
h5,
h5 a,
h5 a:visited,
h6,
h6 a,
h6 a:visited {
	font-weight: normal;
	color: #1496bb;
	position: relative;
	font-family: Verdana, sans-serif;
	margin: 0.8em 0;
}

.postlist {
	margin-top: 15%;
}

.post__date {
	width: 150px;
	display: inline-block;
	color: #ddd;
	font-size: 14px;
	font-size: 1.4rem;
}

h1 {
	margin: 15% 0;
	font-size: 6rem;
	line-height: 1.1;
}

h2 { font-size: 3.1rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 2.2rem; }
h5 { font-size: 2.0rem; }
h6 { 
	font-size: 2.0rem;
	color: inherit;
}

body {
	color: #333;
	line-height: 1.4;
}

article code {
	background: #f1f1f1;
	padding: 0.2rem;
	border-radius: 0.2rem;
	white-space: nowrap;
}

article pre {
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
	white-space: pre;
	background: #f1f1f1;
	box-shadow: 0 0 0 0.5rem #f1f1f1;
	border-radius: 0.2rem;
}

article pre code {
	margin: 0.2rem;
	white-space: normal;
}

article img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

blockquote {
	border-radius: 0.4rem;
	box-shadow: inset 1em 0 1em #f1f1f1;
	padding: 0.1em 1em;
	display: block;
	margin: 0;
	color: #777;
}