<!doctype html>
<html dir="LTR" lang="ru">
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width">

	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/bootstrap.neg-offset.css" rel="stylesheet" />
	<link href="/css/style.css" rel="stylesheet" />

	<link href="/atom.xml" title="{{ page.title }}" rel="alternate" type="application/atom+xml" />

	<meta name="google-site-verification" content="4PlN84dxYDr1rBQdoph2v-F2fbnMx4oMCXnf97CltgU" />

</head>
<body>

<div class="wrap">
	
	<!-- HEADER -->
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/">
				<img src="/img/logo.svg" class="logo pull-left" alt="" />
				Владимир Старков
			</a>
			<ul class="nav">
				<li><a href="#">РСС</a></li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="http://vstarkov.com/">English</a></li>
			</ul>
		</div>
	</div>
	<!-- /HEADER -->

	<div class="row">
		<div class="span6 offset3">
			{{ content }}
		</div>
	</div>

</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins/fotorama.js"></script>
<link href="/js/plugins/fotorama.css" rel="stylesheet" />
<script>
	fotoramaDefaults = {
		transition: 'fade',
		loop: true,
		nav: 'dots',
		navPosition: 'top',
		caption: 'overlay'
	}

	$(function() {

		(function(){
			var links = $('[data-target="#iframe-modal"]'),
				modal = $('#iframe-modal');
				modal_iframe = $('#iframe-modal iframe.dabblet');

			if (!links[0]) return -1;	
			if (!modal_iframe[0]) return -1;

			links.on('click', function(event) {

				modal.css({
					'margin-left': -(modal.width()/2)
				})
				modal_iframe.attr('src', $(this).prop('href'))

				event.preventDefault()
			})
			/*
			 */
		})()

	});
</script>


<!-- Modal -->
<div id="iframe-modal" class="modal modal--iframe hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-body">
		<iframe class="dabblet"> </iframe>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Закрыть</button>
	</div>
</div>


<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
	 mathiasbynens.be/notes/async-analytics-snippet -->
<script>
	var _gaq=[['_setAccount','UA-33089484-1'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>