<!doctype html>
<html dir="LTR" lang="{{ site.locale }}">
<head>
	{% include head.html %}
</head>

<body>

<div class="wrap">

	<div class="menu-toggler__out-wrap">
		<div class="menu-toggler__wrap">
			<a class="menu-toggler js_menu-toggler" href="#" title="{{ site.i18n_menu[site.locale] }}"></a>
		</div>
	</div>

	<div class="nav clearfix" role="navigation">
	    {% include menu.html %}
	</div>

	<!--
	<div class="container"  role="main">
	    <div class="content">
				<div>
					Вы можете <a class="styled-link" href="http://matmuchrapna.github.io/cv/ru/">предложить мне работу</a>
				</div>
			{{ content }}
		</div>
	</div>
	-->

</div>

<script src="/js/script.js" async defer></script>

{% include gauges.html %}
</body>
</html>
