---
layout: default
---

<div class="post"
	itemscope itemtype="http://schema.org/Article" itemref="_articleUrl">
	<div class="heading-wrap">
		<div class="heading  heading--primary"><a href="/">{{ site.i18n_site_name_short[site.locale] }}</a></div>:
		<h1 class="heading heading--secondary" itemprop="name">
			<a href="{{ page.url | replace:'index.html','' }}">
				{{ page.title }}
			</a>
		</h1>
	</div>

	<div class="entry" itemprop="articleBody">
		{{ content | replace:page.title,'' | replace:'<h1 id="section"></h1>','' | replace:'</h6','</div' | replace:'<h6','<div class="h6" ' | replace:'</h5','</h6' | replace:'<h5','<h6 class="h5" ' | replace:'</h4','</h5' | replace:'<h4','<h5 class="h4" ' | replace:'</h3','</h4' | replace:'<h3','<h4 class="h3" ' | replace:'</h2','</h3' | replace:'<h2','<h3 class="h2" ' | replace:'</h1','</h2' | replace:'<h1','<h2 class="h1"' }}
	</div>
</div>