---
layout: default
---

<div class="container">
	<div class="content">
		
		<div class="post" itemscope itemtype="http://schema.org/Article" itemref="_articleUrl">
			<div class="heading-wrap">
				<div class="heading  heading--primary"><a href="/">{{site.site_name}}</a></div>:
				<h1 class="heading heading--secondary" itemprop="name">
					<a href="{{ page.url }}">{{ page.title }}</a>
				</h1>
			</div>
			
			<div class="post__date">
				{{ page.date | date_to_long_string | replace:"January",site.i18n_january | replace:"February",site.i18n_february | replace:"March",site.i18n_march | replace:"April",site.i18n_april | replace:"May",site.i18n_may | replace:"June",site.i18n_june | replace:"July",site.i18n_july | replace:"August",site.i18n_august | replace:"September",site.i18n_september | replace:"October",site.i18n_october | replace:"November",site.i18n_november | replace:"December",site.i18n_december}}
			</div>

			<div class="entry" itemprop="articleBody">
				{% assign h1 = content | first %}
				{{ content | replace:h1,'' | | replace:'<h1','<h1 class="h1"' | replace:'<h2','<h2 class="h2"' | replace:'<h3','<h3 class="h3"' | replace:'<h4','<h4 class="h4"' | replace:'<h4','<h4 class="h4"' | replace:'<h5','<h5 class="h5"' | replace:'<h6','<h6 class="h6"' }}
				
			</div>
		</div>

		<nav class="article-social">
		   	{{site.i18n_cta_share}}
		    <a class="styled-link" href="http://twitter.com/intent/tweet?url={{site.site_url}}{{page.url}}&amp;text={{page.title}}&amp;via={{site.site_twitter}}">
		    	{{site.i18n_cta_share_tw}}
		    </a>,
		    <a class="styled-link" href="http://www.facebook.com/sharer.php?u={{site.site_url}}{{page.url}}&amp;t={{page.title}}">
		    	{{site.i18n_cta_share_fb}}
		    </a>
		    {{site.i18n_cta_share_and}}
		    <a class="styled-link" href="https://plus.google.com/share?url={{site.site_url}}{{page.url}}">
		    	{{site.i18n_cta_share_gp}}
		    </a>
	    </nav>

	    <nav class="around-nav">
			{% if page.next %} 
		    	<div class="around-nav__next">
					<a class="styled-link" rel="next" href="{{ page.next.url }}">
						{{page.next.title}} →
					</a>
				</div>
			{% endif %}
			{% if page.previous %} 
		    	<div class="around-nav__prev">
					<a class="styled-link" rel="prev" href="{{ page.previous.url }}">
						← {{page.previous.title}}
					</a>
				</div>
			{% endif %}
	    </nav>
	</div>
</div>